#main-header {
  text-align: center;
  color: white;
}

#main-header h1 {
  font-weight: 500;
}

#tagline {
  font-size: clamp(0.6rem, 1.4vw, 1rem);
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
}
